
/*Setting up the background color for the editor and compiler*/
body {
    background-color: #00C8F8;
}

/*Now this is basically for setting up of the NAV BAR*/
ul{
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #FFC33C;
}

/*This is for setting the row inline */
li{
    float: left;	
    margin: 0 20px;
}

select {
    width: 10%;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color:#FFC33C;
    margin: 0 auto;
    left: 90%;
    font-family: "Courier New";
    color:white;
    position: absolute;
}


option {
    color: white;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-family: "Courier New";
}

li a:hover {
    background-color: #59C4C5;
}


